@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.slick-slide {
  padding-left: 20px;
}

.slick-next {
  background-color: rgba(0, 0, 0) !important;
  border-radius: 100%;
}

.slick-prev {
  left: 10px;
  z-index: 2;
  background-color: rgb(0, 0, 0) !important;
  border-radius: 100%;
}


